<div class="container-fluid" >
  <div class="jumbotron m-2">
    <h1 class="display-4">Stay somewhere today!</h1>
    <p class="lead">Find your next vacation or weekend getaway with us! It will be an experience you will never forget!</p>
    <hr class="my-4">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Search Listings:</span>
      </div>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend" id="button-addon3">
        <span class="input-group-text" id="inputGroup-sizing-default">Filters:</span>
        <button class="btn btn-outline-info" type="button">Button</button>
        <button class="btn btn-outline-info" type="button">Button</button>
        <button class="btn btn-outline-info" type="button">Button</button>
        <button class="btn btn-outline-info" type="button">Button</button>
        <button class="btn btn-outline-info" type="button">Button</button>
        <button class="btn btn-outline-info" type="button">Button</button>
        <button class="btn btn-outline-info" type="button">Button</button>
        <button class="btn btn-outline-info" type="button">Button</button>
        <button class="btn btn-outline-info" type="button">Button</button>
        <button class="btn btn-outline-info" type="button">Button</button>
      </div>
      <input type="text" class="form-control" placeholder="" aria-label="Example text with two button addons" aria-describedby="button-addon3">
    </div>
  </div>
</div>
<div class="container">
  <div class="d-flex flex-wrap">
    <% @listings.each do |listing| %>
      <div class="card shadow m-3" style="width: 18rem;">
        <img class="card-img-top" src="https://www.rev6sports.com/wp-content/uploads/2015/04/placeholder-1000x600.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= listing.title %></h5>
          <p class="card-text">Want to know more, click the link to go in</p>
          <%= link_to "View Listing", listing_path(listing.id), class:"btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>