<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Reservations Made</h1>
      <p class="lead">All reservations you current have made on other peoples listings</p>
      <hr>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Reservations Received</h1>
      <p class="lead">All reservations people have made on your listings</p>
      <hr>
    </div>
  </div>
</div>